@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a {
  text-decoration: none;
  color: black;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

span:hover {
  cursor: default;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

/*--------------------*/
body {
  font-family: Montserrat;
  background: #1a1a1a;
}

header {
  background: #1a1a1a;
  position: relative;
}
header .container {
  border-left: 1px solid #323232;
  border-right: 1px solid #323232;
  padding: 0;
}

.menu__icon {
  display: none;
  z-index: 6;
  position: absolute;
  right: 250px;
  top: calc(50% - 12px);
  width: 30px;
  height: 24px;
  cursor: pointer;
}
.menu__icon span, .menu__icon::before, .menu__icon::after {
  left: 0;
  position: absolute;
  height: 15%;
  width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #eaa124;
}
.menu__icon::before, .menu__icon::after {
  content: "";
}
.menu__icon::before {
  top: 0;
}
.menu__icon::after {
  bottom: 0;
}
.menu__icon span {
  top: 35%;
  -webkit-transform: scale(1) translate(0, 50%);
          transform: scale(1) translate(0, 50%);
}
.menu__icon._active span {
  -webkit-transform: scale(0) translate(0, 50%);
          transform: scale(0) translate(0, 50%);
}
.menu__icon._active::before {
  top: 50%;
  -webkit-transform: rotate(-45deg) translate(0, -50%);
          transform: rotate(-45deg) translate(0, -50%);
}
.menu__icon._active::after {
  bottom: 50%;
  -webkit-transform: rotate(45deg) translate(0, 50%);
          transform: rotate(45deg) translate(0, 50%);
}

.burger__menu {
  display: none;
  position: absolute;
  width: calc(100% + 20px);
  top: 100%;
  left: -10px;
  background-color: #fff;
  padding: 10px 10px 15px;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transform: translateY(-50%) scaleY(0);
          transform: translateY(-50%) scaleY(0);
}
.burger__menu li {
  margin: 0 0 15px;
}
.burger__menu li:last-child {
  margin: 0;
}
.burger__menu li a {
  font-size: 18px;
  line-height: 17px;
  color: #000000;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  text-transform: capitalize;
}
.burger__menu li a:hover {
  color: #eaa124;
}
.burger__menu._active {
  -webkit-transform: translateY(0) scaleY(1);
          transform: translateY(0) scaleY(1);
}

.header__logo {
  display: block;
  width: 300px;
  height: 100px;
  position: absolute;
  z-index: 5;
  top: 0;
  left: calc(50% - 150px);
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #1e1e1e;
  background: linear-gradient(-70deg, transparent 35px, #1e1e1e 0) bottom right, linear-gradient(70deg, transparent 35px, #1e1e1e 0) bottom left;
  background-size: 50% 100%;
  background-repeat: no-repeat;
  -webkit-filter: drop-shadow(0px 4px 9px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0px 4px 9px rgba(0, 0, 0, 0.1));
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
.header__logo img {
  width: 50%;
}
.header__logo:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

.first_row {
  width: 100%;
  padding: 9px 150px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #323232;
}

.first_row__item {
  color: #a7a7a7;
}
.first_row__item span {
  font-size: 10px;
  line-height: 12px;
  display: inline-block;
  margin: 0 12px 0 0;
}
.first_row__item span:last-child {
  margin: 0;
}

.first_row__social {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_social {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_social li {
  margin: 0 10px 0 0;
}
.header_social li a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.header_social li a img {
  position: absolute;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.header_twitter {
  width: 12px;
  height: 9px;
}
.header_twitter .header_link {
  opacity: 1;
}
.header_twitter .header_link_hower {
  opacity: 0;
}
.header_twitter:hover .header_link {
  opacity: 0;
}
.header_twitter:hover .header_link_hower {
  opacity: 1;
}

.header_tiktok {
  width: 10px;
  height: 12px;
}
.header_tiktok .header_link {
  opacity: 1;
}
.header_tiktok .header_link_hower {
  opacity: 0;
}
.header_tiktok:hover .header_link {
  opacity: 0;
}
.header_tiktok:hover .header_link_hower {
  opacity: 1;
}

.header_youtube {
  width: 11px;
  height: 7px;
}
.header_youtube .header_link {
  opacity: 1;
}
.header_youtube .header_link_hower {
  opacity: 0;
}
.header_youtube:hover .header_link {
  opacity: 0;
}
.header_youtube:hover .header_link_hower {
  opacity: 1;
}

.header_little_bot {
  width: 12px;
  height: 12px;
}
.header_little_bot .header_link {
  opacity: 1;
}
.header_little_bot .header_link_hower {
  opacity: 0;
}
.header_little_bot:hover .header_link {
  opacity: 0;
}
.header_little_bot:hover .header_link_hower {
  opacity: 1;
}

.first_row__slogan {
  font-size: 10px;
  line-height: 12px;
}

.header_navigation {
  padding: 17px 150px;
}

.header__list {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__block {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__item {
  display: inline-block;
  margin: 0 60px 0 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #fff;
  position: relative;
}
.header__item:last-child {
  margin: 0;
}
.header__item:before {
  content: "";
  position: absolute;
  display: inline-block;
  opacity: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  bottom: -17px;
  left: 0;
  background-color: #67552a;
  width: 100%;
  height: 4px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.header__item:hover:before {
  opacity: 1;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.first_screen {
  padding: 170px 0 240px;
  background: url("../img/main-image.webp") 0 50%/cover no-repeat;
  color: #ffffff;
  position: relative;
  z-index: 2;
}
.first_screen:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -1px;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 1px 0px 60px 300px;
  border-color: transparent transparent #1a1a1a transparent;
}
.first_screen:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 1px 300px 60px 0px;
  border-color: transparent transparent #1a1a1a transparent;
}

.first_screen__title {
  font-weight: 900;
  font-size: 45px;
  line-height: 55px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 8px;
}

.first_screen__subtitle {
  margin: 0 0 40px;
  padding: 0 0 18px;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  position: relative;
}
.first_screen__subtitle:before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 6px;
  bottom: 0;
  left: calc(50% - 40px);
  background: #fff;
  background: linear-gradient(-55deg, transparent 10px, #fff 0) bottom right, linear-gradient(55deg, transparent 10px, #fff 0) bottom left;
  background-size: 50% 100%;
  background-repeat: no-repeat;
}

.playfree {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 240px;
  height: 50px;
  margin: 0 auto 37px;
  background: -webkit-gradient(linear, left top, right top, from(#67552a), color-stop(#7a6228), to(#67552a));
  background: linear-gradient(90deg, #67552a, #7a6228, #67552a);
  border-radius: 3px;
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}
.playfree:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
          box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}

.first_screen__row {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first_screen__item {
  display: block;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  margin: 0 30px 0 0;
}
.first_screen__item:last-child {
  margin: 0;
}
.first_screen__item .x_box {
  width: 30px;
  height: 30px;
  background: url("../img/x-box.svg") 50% 50%/cover no-repeat;
}
.first_screen__item .x_box:hover {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
  -webkit-filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.35));
          filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.35));
}
.first_screen__item .appstore {
  width: 30px;
  height: 30px;
  background: url("../img/appstore.svg") 50% 50%/cover no-repeat;
}
.first_screen__item .appstore:hover {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
  -webkit-filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.35));
          filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.35));
}
.first_screen__item .playstation {
  width: 38.28px;
  height: 30px;
  background: url("../img/playstation.svg") 50% 50%/cover no-repeat;
}
.first_screen__item .playstation:hover {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
  -webkit-filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.35));
          filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.35));
}
.first_screen__item .android {
  width: 25.38px;
  height: 30px;
  background: url("../img/android.svg") 50% 50%/cover no-repeat;
}
.first_screen__item .android:hover {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
  -webkit-filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.35));
          filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.35));
}
.first_screen__item .steam {
  width: 30px;
  height: 30px;
  background: url("../img/steam.svg") 50% 50%/cover no-repeat;
}
.first_screen__item .steam:hover {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
  -webkit-filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.35));
          filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.35));
}
.first_screen__item .epic {
  width: 25.85px;
  height: 30px;
  background: url("../img/epic.svg") 50% 50%/cover no-repeat;
}
.first_screen__item .epic:hover {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
  -webkit-filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.35));
          filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.35));
}

.games {
  position: relative;
  z-index: 3;
  overflow: hidden;
  -webkit-transform: translateY(-90px);
          transform: translateY(-90px);
  padding: 90px 0 0;
}
.games .container {
  max-width: 840px;
}
.games .swiper {
  overflow: visible;
  padding: 0;
}
.games .swiper-button-prev,
.games .swiper-button-next {
  bottom: 100px;
}
.games .swiper-button-prev {
  left: 15px;
}
.games .swiper-button-next {
  right: 15px;
}

.games__swiper {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  z-index: 6;
}
.games__swiper .swiper-slide {
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  width: auto;
}
.games__swiper .swiper-slide.swiper-slide-active {
  width: 100%;
  -webkit-transform: translateY(-90px);
          transform: translateY(-90px);
}
.games__swiper .swiper-slide.swiper-slide-active span {
  opacity: 1;
}
.games__swiper .swiper-slide.swiper-slide-prev span {
  opacity: 0;
}
.games__swiper .swiper-slide.swiper-slide-next span {
  opacity: 0;
}
.games__swiper .swiper-slide img {
  width: 100%;
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
}

.games__item {
  height: 100%;
}
.games__item a {
  height: 100%;
  text-align: center;
}
.games__item span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  font-weight: 900;
  font-size: 35px;
  line-height: 45px;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}
.games__item img {
  width: 100%;
}

.video {
  background: repeating-linear-gradient(45deg, #1e1e1e, #1e1e1e 5px, #1a1a1a 5px, #1a1a1a 10px);
  position: relative;
  padding: 55px 0;
  -webkit-transform: translateY(-90px);
          transform: translateY(-90px);
}
.video .content__video {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.video iframe {
  width: 100%;
  height: 500px;
}
.video .play {
  position: absolute;
  display: inline-block;
  top: calc(50% - 65px);
  left: calc(50% - 65px);
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: url("../img/play.svg") 55% 50%/30% no-repeat;
  border: 4px solid #fff;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}
.video .play:after {
  content: "play";
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  position: absolute;
  right: -70%;
  top: calc(50% - 12px);
}
.video .play:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.video .play._playActive {
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
}
.video .container {
  max-width: 940px;
  margin: 0 auto;
}

.how_to_play {
  background: #1a1a1a;
  color: #fff;
}

.title {
  padding: 0 0 24px;
  margin: 0 0 88px;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}
.title:before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 6px;
  bottom: 0;
  left: calc(50% - 40px);
  background: #fff;
  background: linear-gradient(-55deg, transparent 10px, #fff 0) bottom right, linear-gradient(55deg, transparent 10px, #fff 0) bottom left;
  background-size: 50% 100%;
  background-repeat: no-repeat;
}
.title span {
  color: #67552a;
}

.how_to_play__avatar {
  padding: 20px 0 0;
  background: url("../img/create-av-back.webp") 50% 50%/cover no-repeat;
}

.how_to_play__row {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.how_to_play__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.how_to_play__item p {
  font-size: 16px;
  line-height: 20px;
  color: #cccccc;
}
.how_to_play__item img {
  width: 50%;
}

.item_image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.how_to_play__subtitle {
  margin: 0 0 25px;
  font-weight: bold;
  font-size: 35px;
  line-height: 43px;
  text-transform: uppercase;
}

.how_to_play__attribute {
  padding: 40px 0;
  background: url("../img/attribute-back.webp") 50% 50%/cover no-repeat;
}

.how_to_play__favorit {
  padding: 100px 0;
  background: url("../img/favorite-sport.webp") 50% 30%/cover no-repeat;
}
.how_to_play__favorit p {
  max-width: 500px;
  font-size: 16px;
  line-height: 20px;
  color: #cccccc;
}

.why {
  padding: 100px 0 0;
  background: #1a1a1a;
  color: #fff;
}

.why__row {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.why__item {
  text-align: center;
  padding: 64px 20px 0;
  width: 250px;
  height: 250px;
  border: 1px solid #2c2c37;
  border-radius: 15px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}
.why__item img {
  margin: 0 0 10px;
}
.why__item:hover {
  background: #202027;
  border: none;
}
.why__item span {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
}

.where {
  padding: 120px 0 170px;
  background: #1a1a1a;
  color: #fff;
}
.where a {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.where a:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0));
          filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0));
}

.where__row {
  max-width: 780px;
  margin: 0 auto;
  border: 1px solid #fff;
  background-color: #202027;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.where__item {
  width: 129px;
  height: 90px;
  border-right: 1px solid #fff;
  position: relative;
}
.where__item img {
  position: absolute;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
.where__item:last-child {
  border: none;
}

.where__x_box img {
  width: 50px;
  height: 50px;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
}
.where__x_box .where_link {
  opacity: 1;
}
.where__x_box .where_link_hower {
  opacity: 0;
}
.where__x_box:hover .where_link {
  opacity: 0;
}
.where__x_box:hover .where_link_hower {
  opacity: 1;
}

.where__appstore img {
  width: 50px;
  height: 50px;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
}
.where__appstore .where_link {
  opacity: 1;
}
.where__appstore .where_link_hower {
  opacity: 0;
}
.where__appstore:hover .where_link {
  opacity: 0;
}
.where__appstore:hover .where_link_hower {
  opacity: 1;
}

.where__playstation img {
  width: 63px;
  height: 50px;
  top: calc(50% - 25px);
  left: calc(50% - 32.5px);
}
.where__playstation .where_link {
  opacity: 1;
}
.where__playstation .where_link_hower {
  opacity: 0;
}
.where__playstation:hover .where_link {
  opacity: 0;
}
.where__playstation:hover .where_link_hower {
  opacity: 1;
}

.where__android img {
  width: 42px;
  height: 50px;
  top: calc(50% - 25px);
  left: calc(50% - 21px);
}
.where__android .where_link {
  opacity: 1;
}
.where__android .where_link_hower {
  opacity: 0;
}
.where__android:hover .where_link {
  opacity: 0;
}
.where__android:hover .where_link_hower {
  opacity: 1;
}

.where__steam img {
  width: 50px;
  height: 50px;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
}
.where__steam .where_link {
  opacity: 1;
}
.where__steam .where_link_hower {
  opacity: 0;
}
.where__steam:hover .where_link {
  opacity: 0;
}
.where__steam:hover .where_link_hower {
  opacity: 1;
}

.where__epic img {
  width: 43px;
  height: 50px;
  top: calc(50% - 25px);
  left: calc(50% - 21.5px);
}
.where__epic .where_link {
  opacity: 1;
}
.where__epic .where_link_hower {
  opacity: 0;
}
.where__epic:hover .where_link {
  opacity: 0;
}
.where__epic:hover .where_link_hower {
  opacity: 1;
}

.update {
  background: #1a1a1a;
  color: #fff;
}
.update .container {
  position: relative;
}
.update .title {
  margin-bottom: 57px;
  padding-bottom: 17px;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  border-bottom: 1px solid #fff;
}
.update .title:before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 6px;
  bottom: -6px;
  left: calc(100% - 70px);
  background: #fff;
  background: linear-gradient(-55deg, transparent 10px, #fff 0) bottom right, linear-gradient(55deg, transparent 10px, #fff 0) bottom left;
  background-size: 50% 100%;
  background-repeat: no-repeat;
}

.swiper {
  padding: 0 0 65px;
  position: relative;
}

.update__swiper {
  color: #fff;
  overflow: hidden;
  position: relative;
}
.update__swiper a {
  color: #fff;
}

.update__column {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #262836;
  border-radius: 7px;
  overflow: hidden;
  padding: 0 0 30px;
}

.update__item {
  margin: 0 0 18px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
.update__item:last-child {
  padding: 0 20px;
}

.update__img {
  position: relative;
  border-bottom: 1px solid #67552a;
}
.update__img:before {
  content: "";
  position: absolute;
  right: -12.6px;
  display: block;
  bottom: 16px;
  height: 3px;
  width: 50px;
  background-color: #67552a;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.update__img:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -1px;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 1px 0px 30px 30px;
  border-color: transparent transparent #262836 transparent;
}
.update__img a {
  position: absolute;
  display: block;
  background: #67552a;
  padding: 4px 20px;
  bottom: 20px;
  font-style: italic;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.update__img img {
  width: 100%;
  border-bottom: 1px solid #67552a;
}

.guide {
  left: 20px;
  -webkit-transform: skewX(-30deg);
          transform: skewX(-30deg);
}
.guide span {
  cursor: pointer;
  display: inline-block;
  -webkit-transform: skewX(30deg);
          transform: skewX(30deg);
}
.guide:hover {
  padding: 5px 21px;
  -webkit-box-shadow: 0 0 3px #fff;
          box-shadow: 0 0 3px #fff;
}

.start {
  left: 100px;
  -webkit-transform: skewX(-30deg);
          transform: skewX(-30deg);
}
.start span {
  cursor: pointer;
  display: inline-block;
  -webkit-transform: skewX(30deg);
          transform: skewX(30deg);
}
.start:hover {
  padding: 5px 21px;
  -webkit-box-shadow: 0 0 3px #fff;
          box-shadow: 0 0 3px #fff;
}

.date {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  margin: 0 0 16px;
  color: #a7a7a7;
}

.update__text {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.next_level {
  padding: 120px 0 170px;
  background: #1a1a1a;
  color: #fff;
}
.next_level img {
  position: absolute;
  top: calc(50% - 40px);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.next_level a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.next_level a:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0));
          filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0));
}
.next_level .title {
  padding: 0 0 0 54px;
  margin: 0 0 24px;
  position: relative;
  text-align: left;
}
.next_level .title:before {
  content: "#LEGENDS";
  display: none;
}
.next_level p {
  font-size: 16px;
  line-height: 20px;
  color: #a7a7a7;
}
.next_level .container {
  max-width: 900px;
}
.next_level .title__tag {
  position: absolute;
  left: -34px;
  top: 43%;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #fff;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.next_level__row {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.next_level__item {
  text-align: left;
}
.next_level__item:last-child {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 160%;
          flex: 1 1 160%;
  margin: 0 0 0 38px;
}

.next_level__subrow {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #2f2f2f;
}
.next_level__subrow:last-child {
  border-bottom: none;
}

.next_level__subitem {
  height: 130px;
  width: 140px;
}
.next_level__subitem:nth-child(odd) {
  border-right: 1px solid #2f2f2f;
}

.next_level__x_box img {
  width: 80px;
  left: calc(50% - 40px);
}
.next_level__x_box .next_link {
  opacity: 1;
}
.next_level__x_box .next_link_hower {
  opacity: 0;
}
.next_level__x_box:hover .next_link {
  opacity: 0;
}
.next_level__x_box:hover .next_link_hower {
  opacity: 1;
}

.next_level__appstore img {
  width: 80px;
  left: calc(50% - 40px);
}
.next_level__appstore .next_link {
  opacity: 1;
}
.next_level__appstore .next_link_hower {
  opacity: 0;
}
.next_level__appstore:hover .next_link {
  opacity: 0;
}
.next_level__appstore:hover .next_link_hower {
  opacity: 1;
}

.next_level__playstation img {
  width: 103px;
  left: calc(50% - 51.5px);
}
.next_level__playstation .next_link {
  opacity: 1;
}
.next_level__playstation .next_link_hower {
  opacity: 0;
}
.next_level__playstation:hover .next_link {
  opacity: 0;
}
.next_level__playstation:hover .next_link_hower {
  opacity: 1;
}

.next_level__android img {
  width: 68px;
  left: calc(50% - 34px);
}
.next_level__android .next_link {
  opacity: 1;
}
.next_level__android .next_link_hower {
  opacity: 0;
}
.next_level__android:hover .next_link {
  opacity: 0;
}
.next_level__android:hover .next_link_hower {
  opacity: 1;
}

.next_level__steam img {
  width: 80px;
  left: calc(50% - 40px);
}
.next_level__steam .next_link {
  opacity: 1;
}
.next_level__steam .next_link_hower {
  opacity: 0;
}
.next_level__steam:hover .next_link {
  opacity: 0;
}
.next_level__steam:hover .next_link_hower {
  opacity: 1;
}

.next_level__epic {
  width: 69px;
}
.next_level__epic img {
  width: 69px;
  left: calc(50% - 34.5px);
}
.next_level__epic .next_link {
  opacity: 1;
}
.next_level__epic .next_link_hower {
  opacity: 0;
}
.next_level__epic:hover .next_link {
  opacity: 0;
}
.next_level__epic:hover .next_link_hower {
  opacity: 1;
}

.tech_specs {
  padding: 50px 0 100px;
  color: #fff;
  background: url("../img/sistem-info-back.webp") 50% 30%/cover no-repeat;
  position: relative;
}
.tech_specs .title {
  margin: 0 0 40px;
}
.tech_specs:before {
  content: "";
  position: absolute;
  display: inline-block;
  background: rgba(38, 40, 54, 0.4);
  top: calc(50px + 40px + 24px + 55px);
  left: 0;
  height: 20px;
  width: 100%;
}

.tech_specs__row {
  padding: 0 0 66px;
  margin: 0 0 55px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.tech_specs__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 47%;
          flex: 1 1 47%;
  margin: 0 60px 0 0;
}
.tech_specs__item:last-child {
  margin: 0;
}
.tech_specs__item h5 {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 37px;
  position: relative;
}
.tech_specs__item p {
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
}
.tech_specs__item span {
  font-weight: 700;
  text-transform: capitalize;
}

.tech_specs__follow img {
  position: absolute;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.tech_specs__follow h6 {
  margin: 0 0 7px;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}
.tech_specs__follow h6 span {
  color: #67552a;
}
.tech_specs__follow a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.tech_specs__subtext {
  margin: 0 0 44px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.tech_specs__follow_row {
  max-width: calc(124px * 4 + 5px);
  margin: 0 auto;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #202027;
  border: 1px solid #ffffff;
}

.tech_specs__follow_item {
  height: 110px;
  width: 124px;
  border-right: 1px solid #ffffff;
}
.tech_specs__follow_item:last-child {
  border: none;
}

.tech_specs__twitter img {
  height: 40px;
  width: 50px;
  top: calc(50% - 20px);
  left: calc(50% - 25px);
}
.tech_specs__twitter .follow_link {
  opacity: 1;
}
.tech_specs__twitter .follow_link_hower {
  opacity: 0;
}
.tech_specs__twitter:hover .follow_link {
  opacity: 0;
}
.tech_specs__twitter:hover .follow_link_hower {
  opacity: 1;
}

.tech_specs__tiktok img {
  height: 50px;
  width: 44px;
  top: calc(50% - 25px);
  left: calc(50% - 22px);
}
.tech_specs__tiktok .follow_link {
  opacity: 1;
}
.tech_specs__tiktok .follow_link_hower {
  opacity: 0;
}
.tech_specs__tiktok:hover .follow_link {
  opacity: 0;
}
.tech_specs__tiktok:hover .follow_link_hower {
  opacity: 1;
}

.tech_specs__youtube img {
  height: 34px;
  width: 50px;
  top: calc(50% - 17px);
  left: calc(50% - 25px);
}
.tech_specs__youtube .follow_link {
  opacity: 1;
}
.tech_specs__youtube .follow_link_hower {
  opacity: 0;
}
.tech_specs__youtube:hover .follow_link {
  opacity: 0;
}
.tech_specs__youtube:hover .follow_link_hower {
  opacity: 1;
}

.tech_specs__little_bot img {
  height: 50px;
  width: 50px;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
}
.tech_specs__little_bot .follow_link {
  opacity: 1;
}
.tech_specs__little_bot .follow_link_hower {
  opacity: 0;
}
.tech_specs__little_bot:hover .follow_link {
  opacity: 0;
}
.tech_specs__little_bot:hover .follow_link_hower {
  opacity: 1;
}

footer {
  padding: 35px 0 8px;
  background-color: #1a1a1a;
  color: #fff;
  text-align: center;
}

.footer__row {
  padding: 0 0 22px;
  margin: 0 0 8px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer__item {
  color: #a7a7a7;
  font-size: 10px;
  line-height: 12px;
}

.footer__subrow {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__naviration a {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #8d8c8c;
}
.footer__naviration a:hover {
  text-decoration: underline;
}

.footer__list {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__subitem {
  margin: 0 40px 0 0;
}
.footer__subitem:last-child {
  margin: 0;
}

.footer__social_row {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__social_row img {
  position: absolute;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.footer__social_row a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.footer__social_row span {
  display: inline-block;
  margin: 0 14px 0 0;
}

.footer__copirate {
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
}