@media (max-width: 1250px) {
  .why__item {
    margin: 15px;
  }
}

@media (max-width: 1100px) {
  header {
    .container {
      margin: 0 20px;
    }
  }
  .first_row {
    padding: 9px 110px;
  }
  .header_navigation {
    padding: 17px 110px;
  }
  .games {
    .container {
      max-width: 740px;
    }
  }
  .why__item {
    margin: 6px;
  }
  .main_content__row {
    padding: 70px 20px;
  }
  .container {
    padding: 0 20px;
  }
  .request_form_section {
    padding: 0 20px;
  }
  .reddy {
    padding: 0 20px;
  }
}

@media (max-width: 1000px) {
  .first_row {
    padding: 9px 60px;
  }
  .header_navigation {
    padding: 17px 60px;
  }
  .games {
    .container {
      max-width: 620px;
    }
  }
  .blog_news__item_1 {
    width: 60%;
    margin: 0px 35px 0 0;
  }
  .blog_updates__item {
    margin: 0 40px 0 0;
    padding-bottom: 20px;
  }
  .blog_news__subitem:last-child,
  .blog_updates__subitem:last-child {
    padding: 0 15px;
  }
  .main_content__general {
    width: 60%;
  }
}

@media (max-width: 900px) {
  .first_row {
    padding: 9px 15px;
  }
  .header_navigation {
    padding: 17px 15px;
  }
  .games {
    .container {
      max-width: 520px;
    }
  }
  .footer__subitem {
    margin: 0 20px 0 0;
  }
  .next_level {
    .title {
      font-size: 34px;
      line-height: 44px;
      padding: 0 0 0 34px;
    }
    .title__tag {
      top: 42%;
      font-size: 13px;
      line-height: 16px;
    }
  }
  .blog_news__item_1 {
    width: 60%;
    margin: 0px 35px 0 0;
    padding: 0 0 30px;
  }
  .blog_news__slider {
    height: 680px;
  }
  .news-scrollbar {
    height: 680px;
    position: relative;
    overflow: hidden;
    .swiper-scrollbar-drag {
      height: auto;
    }
  }
  .support_faq .main_content__item {
    margin: 0 30px 0 0;
  }
}

@media (max-width: 850px) {
  .main_content__row {
    flex-direction: column-reverse;
  }
  .main_content__general {
    width: 100%;
  }
  .main_content__aside {
    padding: 0;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    article {
      width: 100%;
      height: min-content;
      flex: 0 1 auto;
    }
    .play_free {
      padding: 35px 20px;
    }
  }
  .main_content__aside {
    max-width: 100%;
  }
  .play_free .play_free__button {
    margin: 0 auto;
  }
  .support_faq .main_content__item {
    margin: 0;
  }
  .support_faq__row {
    flex-direction: column;
  }
  .server_status__item_1 {
    margin: 0 50px 15px;
    position: relative;
  }
  .server_status__row_1 {
    flex-wrap: wrap;
  }
}

@media (max-width: 800px) {
  .menu__icon {
    display: block;
  }
  .header__logo {
    left: 0;
    background: linear-gradient(-45deg, transparent 25px, #1e1e1e 0);
    height: 64px;
    width: 30%;
    font-size: 35px;
    line-height: 64px;
    &:hover {
      transform: scale(1);
    }
    &._active {
      width: 100%;
      img {
      }
    }
  }
  .how_to_play__row {
  }
  .how_to_play__item {
    p {
      padding: 0 0 30px;
    }
    img {
      width: 60%;
    }
  }

  .how_to_play {
    .how_to_play__block {
      height: auto;
    }
  }

  header {
    .container {
      display: none;
    }
    .burger__menu {
      display: block;
    }
  }

  .how_to_play__row {
    flex-direction: column;
    .item_image {
      img {
        position: relative;
      }
    }
  }
  .how_to_play__attribute {
    .how_to_play__row {
      flex-direction: column-reverse;
    }
  }
  .next_level__row {
    flex-direction: column;
  }
  .next_level__item:last-child {
    margin: 0;
  }

  .how_to_play__avatar {
    padding: 40px 0 0;
  }

  .footer__row {
    flex-direction: column;
  }
  .footer__item {
    margin: 0 0 20px;
    &:last-child {
      margin: 0;
    }
  }
  .blog_news__item_1 {
    width: 60%;
    margin: 0px 20px 0 0;
    padding: 0 0 20px;
  }
  .blog_news__slider {
    height: 615px;
  }
  .news-scrollbar {
    height: 615px;
  }
  .blog_updates__img {
    height: 200px;
    margin-bottom: 20px;
  }
  .blog_updates__item {
    margin: 0 20px 0 0;
    padding-bottom: 20px;
  }
  .blog_news__item_2 {
    margin: 0;
  }
  .blog_news__item_2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 35%;
    flex: 0 1 35%;
    min-width: 0;
    padding: 0;
    margin: 0 5px 0 0;
    background: none;
  }
  .calling__image {
    width: 50%;
    margin: 0 10px 0 0;
  }
  .how_it_work__item p {
    max-width: 150px;
  }
  .how_it_work__item {
    padding-right: 0px;
  }
  .how_it_work__item::before {
    font-size: 80px;
  }
  .requirements .requirements__item:last-child {
    display: none;
  }
  .requirements .requirements__item:first-child {
    width: 100%;
    // background: url("../img/REQUIREMENTS-1.jpg") 0 0% / cover no-repeat;
  }
  .requirements .requirements__row .latest_articles__list {
    max-width: 100%;
  }
}

@media (max-width: 700px) {
  .blog_updates__row {
    flex-direction: column;
    align-items: center;
  }
  .blog_updates__item {
    margin: 0 0 20px;
    width: 60%;
  }
  .select_game {
    padding: 36px 0px 20px;
    .select_game__item_1,
    .select_game__item_2,
    .select_game__item_3 {
      margin: 0 20px 0 0;
    }
  }
  .support_faq__general {
    padding: 18px 20px 35px;
  }
  .server_status__item_1 {
    margin: 0 20px 15px;
  }
  .calling__row {
    flex-direction: column-reverse;
  }
  .calling__image {
    position: relative;
    margin: 0;
    width: 100%;
    height: 200px;
    overflow: hidden;
    img {
      position: absolute;
      top: -20%;
      object-fit: cover;
    }
  }
  .calling__info {
    width: 100%;
    margin: 0 0 15px;
  }
}

@media (max-width: 650px) {
  .request_form__row_1 {
    flex-direction: column;
  }
  .attechment {
    text-align: center;
  }
  .g-recaptcha {
    transform: scale(0.77);
  }
  .how_it_work__row {
    flex-direction: column;
  }
  .how_it_work__item {
    padding-bottom: 55px;
    margin-bottom: 15px;
    margin-right: 0;
    position: relative;
    z-index: 2;

    p {
      max-width: 170px;
      font-size: 14px;
      line-height: 17px;
      color: #cccccc;
    }
    &:after {
      left: calc(50% - 10px);
      bottom: 20%;
      top: auto;
      transform: rotate(90deg);
    }
  }
  .how_it_work {
    padding-bottom: 40px;
  }
  .faq {
    .support_faq__spoller_item {
      padding: 10px 15px;
    }
    .spoller__title {
      font-size: 16px;
      span {
        margin-right: 10px;
      }
    }
  }
}

@media (max-width: 600px) {
  .blog_news__row {
    flex-direction: column;
    position: relative;
    .blog_news__item_1 {
      width: 100%;
      margin: 0 0 20px 0;
      padding: 0 0 20px;
    }
    .blog_news__item_2 {
      margin: 0;
    }
  }
  .blog_news__slider {
    height: auto;
  }
  .blog_news__img,
  .blog_updates__img {
    margin: 0 0 20px;
  }
  .blog_news__item_1 .blog_news__text {
    font-weight: bold;
    font-size: 25px;
    line-height: 33px;
  }
  .blog_swiper__text {
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
  }
  .blog_swiper__subitem:last-child {
    padding: 0 12px;
  }
  .news-scrollbar {
    display: none;
  }
  .blog_news .swiper-button-prev,
  .blog_news .swiper-button-next {
    display: block;
    bottom: -60px;
    width: auto;
  }
  .blog_news .swiper-button-prev::before,
  .blog_news .swiper-button-next::before {
    width: 100%;
    bottom: 22px;
  }
  .blog_updates__item {
    margin: 0 0 20px;
    width: 90%;
  }
  .main_content__general .general__text {
    padding: 25px 15px 50px;
  }
  .server_status .title_box {
    padding: 25px 0;
  }
  .server_status .title {
    font-size: 30px;
    line-height: 35px;
  }
  .select_game {
    padding: 36px 0px 20px;
    .select_game__item_1,
    .select_game__item_2,
    .select_game__item_3 {
      margin: 0 20px 0 0;
      width: 120px;
    }
  }
  .select_game__row {
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 0;
  }
  .select_game__subitem {
    width: fit-content;
    margin: 15px 0;
  }
  .support__search_form {
    max-width: 400px;
  }
  .search__window {
    width: 400px;
  }
  .select_game__catigories {
    padding: 0 20px 20px;
  }
  .request_form {
    .request_form__row {
      flex-direction: column;
      input {
        width: 100%;
      }
      select {
        width: 100%;
      }
    }
  }
}

@media (max-width: 500px) {
  header {
    .burger__menu {
      .first_row {
        justify-content: center;
      }
      .first_row__slogan {
        display: none;
      }
      .first_row__social {
        transform: translateX(13%);
      }
      .header_navigation {
        padding: 30px 20px;
        width: 80%;
        .header__list {
          justify-content: flex-start;
          flex-direction: column;
          align-items: flex-start;
          .header__item {
            margin: 0 0 30px;
            &:last-child {
              margin: 0;
            }
          }
          .header__block {
            flex-direction: column;
            align-items: flex-start;
            margin: 0 0 30px 0;
            &:last-child {
              margin: 0;
            }
          }
        }
      }
    }
  }
  .header__logo {
    width: 50%;
  }

  .first_screen__row {
    -webkit-box-pack: space-around;
    -ms-flex-pack: space-around;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .first_screen__item {
    margin: 0;
  }

  .next_level {
    padding: 120px 0 60px;
  }
  .where__row {
    flex-wrap: wrap;
  }
  .where__item {
    width: 50%;
    height: 90px;
    border: 1px solid #fff;
  }

  .tech_specs {
    &:before {
      opacity: 0;
    }
  }
  .tech_specs__row {
    flex-direction: column;
    .tech_specs__item {
      margin: 0 0 37px;
    }
    h5 {
      margin: 0 -20px 37px;
      padding: 10px 0 10px 20px;
      background: rgba(#262836, 0.4);
    }
  }
  .request_form {
    padding: 30px 0px 80px;
  }
}

@media (max-width: 400px) {
  .first_screen__title {
    font-size: 35px;
    line-height: 45px;
  }
  .title {
    font-size: 35px;
    line-height: 45px;
  }
  .next_level .title {
    font-size: 26px;
    line-height: 36px;
  }
  .next_level .title__tag {
    top: 42%;
    font-size: 11px;
    line-height: 15px;
  }
  .tech_specs__follow_row {
    flex-wrap: wrap;
  }
  .tech_specs__follow_item {
    height: 110px;
    width: 50%;
    border: 1px solid #ffffff;
  }
  .tech_specs__follow_item:last-child {
    border: 1px solid #ffffff;
  }
  .footer__subitem {
    margin: 0 10px 0 0;
  }
  .item_image .avatar {
    height: auto;
    width: 100%;
  }
  .footer__naviration a {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #8d8c8c;
  }
  .main_content__header {
    text-align: right;
    position: relative;
    padding: 4px 0 15px;
    border-bottom: 1px solid #fff;
    margin-bottom: 17px;
    a {
      position: absolute;
      top: 0;
      display: block;
      background: #67552a;
      padding: 4px 20px;
      bottom: auto;
      font-style: italic;
      font-weight: bold;
      font-size: 10px;
      line-height: 12px;
      text-transform: uppercase;
      transition: all 300ms ease-in-out;
    }
    .guide {
      left: 6px;
      transform: skewX(-30deg);
      span {
        color: #fff;
        cursor: pointer;
        display: inline-block;
        transform: skewX(30deg);
      }
      &:hover {
        padding: 5px 16px;
        box-shadow: 0 0 3px #fff;
      }
    }

    .start {
      left: 78px;
      transform: skewX(-30deg);
      span {
        color: #fff;
        cursor: pointer;
        display: inline-block;
        transform: skewX(30deg);
      }
      &:hover {
        padding: 5px 16px;
        box-shadow: 0 0 3px #fff;
      }
    }

    a {
      position: absolute;
      top: 0;
      display: block;
      background: #67552a;
      padding: 4px 15px;
      bottom: auto;
      font-style: italic;
      font-weight: bold;
      font-size: 10px;
      line-height: 12px;
      text-transform: uppercase;
      transition: all 300ms ease-in-out;
    }

    .main_content__trasition {
      padding: 0 4px 0 15px;
      border-right: 1px solid #eee;
      font-size: 10px;
      line-height: 15px;
      color: #cccccc;
      position: relative;
      &:before {
        width: 14px;
        height: 8px;
      }
    }
    .main_content__looking {
      padding: 0 3px 0 15px;
      border-right: 1px solid #eee;
      font-size: 10px;
      line-height: 15px;
      color: #cccccc;
      position: relative;
      &:before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 12px;
        height: 8px;
        background: url("../img/looking.svg") 0 50% / contain no-repeat;
        top: calc(50% - 5px);
        left: 2px;
      }
    }

    .main_content__time {
      padding: 0 0 0 2px;
      font-size: 10px;
      line-height: 15px;
      color: #cccccc;
      position: relative;
    }
  }
  .support__search_form {
    max-width: 300px;
  }
  .search__window {
    width: 300px;
  }
  .server_status__item_1 {
    margin: 0 0px 15px;
    &.online,
    &.offline,
    &.maintenance {
      padding-left: 34px;
    }
  }

  .server_status__row_1 {
    flex-direction: column;
    align-items: flex-start;
  }
}
