// обнуление
@import "./nullstyle.scss";
@import "./aside.scss";
@import "./post.scss";

// шрифты
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "Intro_Black";
  src: url("../fonts/intro_black.eot");
  src: local("☺"), url("../fonts/intro_black.woff") format("woff"),
    url("../fonts/intro_black.ttf") format("truetype"),
    url("../fonts/intro_black.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
// Миксины

// скошеные углы
@mixin beveled-corners($bg, $br: $tl, $bl: $tr, $ra, $la) {
  background: $bg;
  background: linear-gradient($ra, transparent $br, $bg 0) bottom right,
    linear-gradient($la, transparent $bl, $bg 0) bottom left;
  background-size: 50% 100%;
  background-repeat: no-repeat;
}

@mixin arrow-corners($bg, $tr, $br, $ra, $la) {
  background: $bg;
  background: linear-gradient($ra, transparent $br, $bg 0) top right,
    linear-gradient($la, transparent $bl, $bg 0) bottom right;
  background-size: 50% 100%;
  background-repeat: no-repeat;
}

@mixin paralilepiped($bg, $br, $tl, $ra, $la) {
  background: linear-gradient($ra, transparent $br, $bg 0) bottom right,
    linear-gradient($la, transparent $bl, $bg 0) top left;
  background-size: 50% 50%;
  background-repeat: no-repeat;
}

@mixin slowhover {
  .header_link {
    opacity: 1;
  }
  .header_link_hower {
    opacity: 0;
  }
  &:hover {
    & .header_link {
      opacity: 0;
    }
    & .header_link_hower {
      opacity: 1;
    }
  }
}

@mixin firstslowhover {
  .first_link {
    opacity: 1;
    transform: scale(1);
  }
  .first_link_hower {
    opacity: 0;
    transform: scale(1);
  }
  &:hover {
    & .first_link {
      opacity: 0;
      transform: scale(1.1);
    }
    & .first_link_hower {
      opacity: 1;
      transform: scale(1.1);
    }
  }
}

@mixin whereslowhover {
  .where_link {
    opacity: 1;
  }
  .where_link_hower {
    opacity: 0;
  }
  &:hover {
    & .where_link {
      opacity: 0;
    }
    & .where_link_hower {
      opacity: 1;
    }
  }
}

@mixin nextslowhover {
  .next_link {
    opacity: 1;
  }
  .next_link_hower {
    opacity: 0;
  }
  &:hover {
    & .next_link {
      opacity: 0;
    }
    & .next_link_hower {
      opacity: 1;
    }
  }
}

@mixin followslowhover {
  .follow_link {
    opacity: 1;
  }
  .follow_link_hower {
    opacity: 0;
  }
  &:hover {
    & .follow_link {
      opacity: 0;
    }
    & .follow_link_hower {
      opacity: 1;
    }
  }
}

@import "./header.scss";

body {
  font-family: Montserrat;
  background: #1a1a1a;
  &._lock {
    overflow: hidden;
  }
}

.first_screen {
  padding: 170px 0 240px;
  background: url("../img/main-image.webp") 0 50% / cover no-repeat;
  color: #ffffff;
  position: relative;
  z-index: 2;

  &:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -1px;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 1px 0px 60px 300px;
    border-color: transparent transparent #1a1a1a transparent;
  }
  &:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 1px 300px 60px 0px;
    border-color: transparent transparent #1a1a1a transparent;
  }
}

.first_screen__title {
  font-weight: 900;
  font-size: 45px;
  line-height: 55px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 8px;
}

.first_screen__subtitle {
  margin: 0 0 40px;
  padding: 0 0 18px;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  position: relative;
  &:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 80px;
    height: 6px;
    bottom: 0;
    left: calc(50% - 40px);
    @include beveled-corners(#fff, 10px, 10px, -55deg, 55deg);
  }
}

.playfree {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 50px;
  margin: 0 auto 37px;
  background: linear-gradient(90deg, #67552a, #7a6228, #67552a);
  border-radius: 3px;
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  transition: all 300ms ease-in;
  &:hover {
    transform: scale(1.03);
    box-shadow: 0 0 15px rgba(#fff, 0.3);
  }
}

.first_screen__row {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    transition: all 300ms ease-in-out;
  }
  img {
    position: absolute;
    height: 30px;
    top: 10px;
    transition: all 200ms ease-in;
  }
}

.x_box {
  img {
    width: 30px;
    left: calc((50px - 30px) / 2);
  }
  @include firstslowhover;
}

.appstore {
  img {
    width: 30px;
    left: calc((50px - 30px) / 2);
  }
  @include firstslowhover;
}

.playstation {
  img {
    width: 38.28px;
    left: calc((50px - 38.28px) / 2);
  }
  @include firstslowhover;
}

.android {
  img {
    width: 25.38px;
    left: calc((50px - 25.38px) / 2);
  }
  @include firstslowhover;
}

.steam {
  img {
    width: 30px;
    left: calc((50px - 30px) / 2);
  }
  @include firstslowhover;
}

.epic {
  img {
    width: 25.85px;
    left: calc((50px - 25.85px) / 2);
  }
  @include firstslowhover;
}

.first_screen__item {
  width: 50px;
  display: block;
  transition: all 200ms ease-out;
  margin: 0 30px 0 0;
  &:last-child {
    margin: 0;
  }
}

.games {
  position: relative;
  z-index: 3;
  overflow: hidden;
  transform: translateY(-90px);
  padding: 90px 0 0;
  .container {
    max-width: 840px;
  }
  .swiper {
    overflow: visible;
    padding: 0;
  }
  .swiper-button-prev,
  .swiper-button-next {
    bottom: 100px;
  }
  .swiper-button-prev {
    left: 15px;
  }
  .swiper-button-next {
    right: 15px;
  }
}

.games__swiper {
  transform: translateY(-50px);
  transition: all 300ms ease-in;
  z-index: 6;
  .swiper-slide {
    transition: all 300ms ease-in;
    transform: translateY(0px);
    width: auto;
    &.swiper-slide-active {
      width: 100%;
      transform: translateY(-90px);
      span {
        opacity: 1;
      }
    }
    &.swiper-slide-prev {
      span {
        opacity: 0;
      }
    }
    &.swiper-slide-next {
      span {
        opacity: 0;
      }
    }
    img {
      width: 100%;
      height: 450px;
      object-fit: cover;
    }
  }
}

.games__item {
  height: 100%;
  a {
    height: 100%;
    text-align: center;
  }
  span {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-weight: 900;
    font-size: 35px;
    line-height: 45px;
    text-transform: uppercase;
    color: #ffffff;
    transform: translateY(-50%);
    transition: all 300ms ease-in;
  }
  img {
    width: 100%;
  }
}

.video {
  background: repeating-linear-gradient(
    45deg,
    #1e1e1e,
    #1e1e1e 5px,
    #1a1a1a 5px,
    #1a1a1a 10px
  );
  position: relative;
  padding: 55px 0;
  transform: translateY(-90px);
  .content__video {
    display: block;
    width: 100%;
    object-fit: cover;
  }

  .play {
    position: absolute;
    display: inline-block;
    top: calc(50% - 65px);
    left: calc(50% - 65px);
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: url("../img/play.svg") 55% 50% / 30% no-repeat;
    border: 4px solid #fff;
    &:after {
      content: "play";
      color: #fff;
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
      text-transform: uppercase;
      position: absolute;
      right: -70%;
      top: calc(50% - 12px);
    }
    transition: all 300ms ease-in;
    &:hover {
      transform: scale(1.1);
    }
    &._playActive {
      transform: scale(0);
      opacity: 0;
    }
  }
  .container {
    max-width: 940px;
    margin: 0 auto;
  }
}

.how_to_play {
  color: #fff;
}

.title {
  padding: 0 0 24px;
  margin: 0 0 88px;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  &:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 80px;
    height: 6px;
    bottom: 0;
    left: calc(50% - 40px);
    @include beveled-corners(#fff, 10px, 10px, -55deg, 55deg);
  }
  span {
    color: #67552a;
  }
}

.how_to_play__avatar {
  padding: 40px 0;
  background: url("../img/create-av-back.webp") 50% 50% / cover no-repeat;

  position: relative;
  .container {
    height: 100%;
  }
}

.how_to_play__row {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.how_to_play__item {
  flex: 1;

  p {
    font-size: 16px;
    line-height: 20px;
    color: #cccccc;
  }
  img {
    width: 50%;
  }
}

.item_image {
  display: flex;
  justify-content: center;
  .avatar {
    position: absolute;
    bottom: 0;
    height: 90%;
    width: auto;
  }
}
.how_to_play__subtitle {
  margin: 0 0 25px;
  font-weight: bold;
  font-size: 35px;
  line-height: 43px;
  text-transform: uppercase;
}

.how_to_play__attribute {
  padding: 40px 0;
  background: url("../img/attribute-back.webp") 50% 50% / cover no-repeat;
}

.how_to_play__favorit {
  padding: 100px 0;
  background: url("../img/favorite-sport.webp") 50% 30% / cover no-repeat;
  p {
    max-width: 500px;
    font-size: 16px;
    line-height: 20px;
    color: #cccccc;
  }
}

.why {
  padding: 100px 0 0;
  color: #fff;
  .container {
    max-width: 1250px;
  }
}

.why__row {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.why__item {
  text-align: center;
  padding: 64px 20px 0;
  width: 250px;
  height: 250px;
  border: 1px solid #2c2c37;
  border-radius: 15px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  //justify-content: center;
  align-items: center;
  margin: 25px;
  img {
    margin: 0 0 10px;
  }
  &:hover {
    background: #202027;
    border: 1px solid #202027;
  }
  span {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
  }
}

.where {
  padding: 120px 0 170px;
  color: #fff;
  a {
    display: block;
    width: 100%;
    height: 100%;
    transition: all 300ms ease-in-out;
    &:hover {
      transform: scale(1);
      filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0));
    }
  }
}

.where__row {
  max-width: 780px;
  margin: 0 auto;
  border: 1px solid #fff;
  background-color: #202027;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
}

.where__item {
  width: 129px;
  height: 90px;
  border-right: 1px solid #fff;
  position: relative;
  img {
    position: absolute;
    transition: all 200ms ease-in;
  }
  &:last-child {
    border: none;
  }
}

.where__x_box {
  img {
    width: 50px;
    height: 50px;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
  }
  @include whereslowhover;
}

.where__appstore {
  img {
    width: 50px;
    height: 50px;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
  }
  @include whereslowhover;
}

.where__playstation {
  img {
    width: 63px;
    height: 50px;
    top: calc(50% - 25px);
    left: calc(50% - 32.5px);
  }
  @include whereslowhover;
}

.where__android {
  img {
    width: 42px;
    height: 50px;
    top: calc(50% - 25px);
    left: calc(50% - 21px);
  }
  @include whereslowhover;
}

.where__steam {
  img {
    width: 50px;
    height: 50px;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
  }
  @include whereslowhover;
}

.where__epic {
  img {
    width: 43px;
    height: 50px;
    top: calc(50% - 25px);
    left: calc(50% - 21.5px);
  }
  @include whereslowhover;
}

.update {
  color: #fff;
  .container {
    position: relative;
  }
  .title {
    margin-bottom: 57px;
    padding-bottom: 17px;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    border-bottom: 1px solid #fff;
    &:before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 80px;
      height: 6px;
      bottom: -6px;
      left: calc(100% - 70px);
      @include beveled-corners(#fff, 10px, 10px, -55deg, 55deg);
    }
  }
}

.title {
}

.swiper {
  padding: 0 0 65px;
  position: relative;
}

.update__swiper {
  color: #fff;
  overflow: hidden;
  position: relative;
  a {
    color: #fff;
  }
}

.swiper-slide {
  &:hover {
    .update__text {
      transition: all 200ms ease-out;
      color: #67552a;
    }
  }
}

.update__column {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  background: #262836;
  border-radius: 7px;
  overflow: hidden;
  padding: 0 0 30px;
}

.update__item {
  margin: 0 0 18px;
  flex: 0 1 50%;
  &:last-child {
    padding: 0 20px;
  }
}

.update__link,
.news__link {
  display: inline-block;
  width: 101%;
  height: min-content;
}

.update__img {
  position: relative;
  border-bottom: 1px solid #67552a;
  &:before {
    content: "";
    position: absolute;
    right: -12.6px;
    display: block;
    bottom: 16px;
    height: 3px;
    width: 50px;
    background-color: #67552a;
    transform: rotate(-45deg);
  }
  &:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -1px;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 1px 0px 30px 30px;
    border-color: transparent transparent #262836 transparent;
  }
  .update__button {
    position: absolute;
    display: block;
    background: #67552a;
    padding: 4px 20px;
    bottom: 20px;
    font-style: italic;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    transition: all 300ms ease-in-out;
  }
  img {
    width: 100%;
    border-bottom: 1px solid #67552a;
  }
}

.guide {
  left: 20px;
  transform: skewX(-30deg);
  span {
    cursor: pointer;
    display: inline-block;
    transform: skewX(30deg);
  }
  &:hover {
    padding: 5px 21px;
    box-shadow: 0 0 3px #fff;
  }
}

.start {
  left: 100px;
  transform: skewX(-30deg);
  span {
    cursor: pointer;
    display: inline-block;
    transform: skewX(30deg);
  }
  &:hover {
    padding: 5px 21px;
    box-shadow: 0 0 3px #fff;
  }
}

.date {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  margin: 0 0 16px;
  color: #a7a7a7;
}

.update__text {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.next_level {
  padding: 120px 0 170px;
  color: #fff;
  img {
    position: absolute;
    top: calc(50% - 40px);
    transition: all 200ms ease-in-out;
  }
  a {
    display: block;
    width: 100%;
    height: 100%;

    position: relative;
    &:hover {
      transform: scale(1);
      filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0));
    }
  }
  .title {
    padding: 0 0 0 54px;
    margin: 0 0 24px;
    position: relative;
    &:before {
      content: "#LEGENDS";
      display: none;
    }
    text-align: left;
  }
  p {
    font-size: 16px;
    line-height: 20px;
    color: #a7a7a7;
  }
  .container {
    max-width: 900px;
  }
  .title__tag {
    position: absolute;
    left: -34px;
    top: 43%;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #fff;
    transform: rotate(-90deg);
  }
}

.next_level__row {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.next_level__item {
  text-align: left;
  &:last-child {
    flex: 1 1 160%;
    margin: 0 0 0 38px;
  }
}

.next_level__subrow {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #2f2f2f;
  &:last-child {
    border-bottom: none;
  }
}

.next_level__subitem {
  height: 130px;
  width: 140px;

  &:nth-child(odd) {
    border-right: 1px solid #2f2f2f;
  }
}

.next_level__x_box {
  img {
    width: 80px;
    left: calc(50% - 40px);
  }
  @include nextslowhover;
}

.next_level__appstore {
  img {
    width: 80px;
    left: calc(50% - 40px);
  }
  @include nextslowhover;
}

.next_level__playstation {
  img {
    width: 103px;
    left: calc(50% - 51.5px);
  }
  @include nextslowhover;
}

.next_level__android {
  img {
    width: 68px;
    left: calc(50% - 34px);
  }
  @include nextslowhover;
}

.next_level__steam {
  img {
    width: 80px;
    left: calc(50% - 40px);
  }
  @include nextslowhover;
}

.next_level__epic {
  width: 69px;
  img {
    width: 69px;
    left: calc(50% - 34.5px);
  }
  @include nextslowhover;
}

.tech_specs {
  padding: 50px 0 100px;
  color: #fff;
  background: url("../img/sistem-info-back.webp") 50% 30% / cover no-repeat;
  .title {
    margin: 0 0 40px;
  }
  position: relative;
  &:before {
    content: "";
    position: absolute;
    display: inline-block;
    background: rgba(#262836, 0.4);
    top: calc(50px + 40px + 14px + 55px);
    left: 0;
    height: 40px;
    width: 100%;
  }
}

.tech_specs__row {
  padding: 0 0 66px;
  margin: 0 0 55px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(#fff, 0.1);
}

.tech_specs__item {
  flex: 1 1 47%;
  margin: 0 60px 0 0;
  &:last-child {
    margin: 0;
  }
  h5 {
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 37px;
    position: relative;
  }
  p {
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
  }
  span {
    font-weight: 700;
    text-transform: capitalize;
  }
}

.tech_specs__follow {
  img {
    position: absolute;
    transition: all 200ms ease-in-out;
  }
  h6 {
    margin: 0 0 7px;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
    span {
      color: #67552a;
    }
  }
  a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
  }
}

.tech_specs__subtext {
  margin: 0 0 44px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.tech_specs__follow_row {
  max-width: calc(124px * 4 + 5px);
  margin: 0 auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #202027;
  border: 1px solid #ffffff;
}

.tech_specs__follow_item {
  height: 110px;
  width: 124px;
  border-right: 1px solid #ffffff;
  &:last-child {
    border: none;
  }
}

.tech_specs__twitter {
  img {
    height: 40px;
    width: 50px;
    top: calc(50% - 20px);
    left: calc(50% - 25px);
  }
  @include followslowhover;
}

.tech_specs__tiktok {
  img {
    height: 50px;
    width: 44px;
    top: calc(50% - 25px);
    left: calc(50% - 22px);
  }
  @include followslowhover;
}

.tech_specs__youtube {
  img {
    height: 34px;
    width: 50px;
    top: calc(50% - 17px);
    left: calc(50% - 25px);
  }
  @include followslowhover;
}

.tech_specs__little_bot {
  img {
    height: 50px;
    width: 50px;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
  }
  @include followslowhover;
}

//
//
//-------------- blog
//
//

.blog_first_screen {
  padding: 120px 0 180px;
  color: #fff;
  background: url("../img/blog-main.jpg") 50% 0 / cover no-repeat;
}
.container {
}

.blog_first_screen__title {
  font-weight: 900;
  font-size: 45px;
  line-height: 55px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 8px 0;
}

.blog_first_screen__subtitle {
}

.blog_news {
  padding: 60px 0 100px;
  color: #fff;
  a {
    color: #fff;
  }
  .title {
    margin-bottom: 57px;
    padding-bottom: 17px;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    border-bottom: 1px solid #fff;
    &:before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 80px;
      height: 6px;
      bottom: -6px;
      left: calc(100% - 70px);
      @include beveled-corners(#fff, 10px, 10px, -55deg, 55deg);
    }
  }
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
    bottom: -40px;
  }
  .swiper-button-prev::before,
  .swiper-button-next::before {
    width: 100%;
    bottom: 22px;
  }
}

.blog_news__slider {
  position: relative;
  padding: 0;
  width: 100%;
  height: 780px;
  .swiper-wrapper {
    //overflow: hidden;
    padding: 0;
  }
  .swiper-slide {
    overflow: hidden;
    border-radius: 7px;
    background: #262836;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    &:hover {
      .blog_swiper__text {
        color: #67552a;
      }
    }
  }
}

.news-scrollbar {
  display: block;
  width: 4px;
  height: 780px;
  background: #202027;
  .swiper-scrollbar-drag {
    background-color: rgba(#fff, 0.32);
    &:hover {
      background-color: rgba(#fff, 0.65);
    }
  }
}

.blog_swiper__subitem {
  margin: 0 0 18px;
  flex: 0 1 50%;
  &:last-child {
    padding: 0 20px;
  }
}

.blog_swiper__img {
  position: relative;
  border-bottom: 1px solid #67552a;
  margin: 0 0 20px;
  &:before {
    content: "";
    position: absolute;
    right: -12.6px;
    display: block;
    bottom: 16px;
    height: 3px;
    width: 50px;
    background-color: #67552a;
    transform: rotate(-45deg);
  }
  &:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -1px;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 1px 0px 30px 30px;
    border-color: transparent transparent #262836 transparent;
  }
  .news__button {
    position: absolute;
    display: block;
    background: #67552a;
    padding: 4px 20px;
    bottom: 20px;
    font-style: italic;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    transition: all 300ms ease-in-out;
  }
  img {
    width: 101%;
    border-bottom: 1px solid #67552a;
  }
}

.blog_swiper__text {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.blog_news__row,
.blog_updates__row {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.blog_news__item,
.blog_updates__item {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  background: #262836;
  border-radius: 7px;
  overflow: hidden;
  padding: 0 0 100px;
  min-width: 0;
  transition: all 200ms ease;
  &:hover {
    .blog_news__text {
      transition: all 200ms ease;
      color: #67552a;
    }
  }
}
.blog_news__item_1 {
  width: 65%;
  margin: 0 50px 0 0;
  height: min-content;
  .blog_news__text {
    font-weight: bold;
    font-size: 35px;
    line-height: 43px;
  }
}
.blog_news__item_2 {
  flex: 0 1 30%;
  min-width: 0;
  padding: 0;
  margin: 0 25px 0 0;
  background: none;
}
.blog_news__subitem,
.blog_updates__subitem {
  margin: 0 0 18px;
  flex: 0 1 50%;
  //position: relative;
  .update__link {
  }
  &:last-child {
    padding: 0 30px;
  }
}
.blog_news__img,
.blog_updates__img {
  position: relative;
  border-bottom: 1px solid #67552a;
  margin: 0 0 50px;
  &:before {
    content: "";
    position: absolute;
    right: -12.6px;
    display: block;
    bottom: 16px;
    height: 3px;
    width: 50px;
    background-color: #67552a;
    transform: rotate(-45deg);
  }
  &:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -1px;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 1px 0px 30px 30px;
    border-color: transparent transparent #262836 transparent;
  }
  .news__button {
    position: absolute;
    display: block;
    background: #67552a;
    padding: 4px 20px;
    bottom: 20px;
    font-style: italic;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    transition: all 300ms ease-in-out;
  }
  img {
    width: 101%;
    border-bottom: 1px solid #67552a;
  }
}

.guide {
  left: 20px;
  transform: skewX(-30deg);
  span {
    cursor: pointer;
    display: inline-block;
    transform: skewX(30deg);
  }
  &:hover {
    padding: 5px 21px;
    box-shadow: 0 0 3px #fff;
  }
}

.start {
  left: 100px;
  transform: skewX(-30deg);
  span {
    cursor: pointer;
    display: inline-block;
    transform: skewX(30deg);
  }
  &:hover {
    padding: 5px 21px;
    box-shadow: 0 0 3px #fff;
  }
}

.date {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  margin: 0 0 20px;
  color: #a7a7a7;
}

.blog_news__text,
.blog_updates__text {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  transition: all 200ms ease;
}

.blog_news__column {
}

.blog_updates {
  padding: 0 0 100px;
  color: #fff;
  .title {
    margin-bottom: 57px;
    padding-bottom: 17px;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    border-bottom: 1px solid #fff;
    &:before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 80px;
      height: 6px;
      bottom: -6px;
      left: calc(100% - 70px);
      @include beveled-corners(#fff, 10px, 10px, -55deg, 55deg);
    }
  }
  a {
    color: #fff;
  }
}
.blog_updates__row {
  margin: 0 0 75px;
}
.blog_updates__item {
  flex: 1;
  margin: 0 70px 0 0;
  padding-bottom: 40px;
  &:last-child {
    margin: 0;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &:hover {
    .blog_updates__text {
      color: #67552a;
    }
  }
}

.blog_updates__img {
  height: 250px;
  margin-bottom: 20px;
}

.blog_updates__subitem {
  flex: auto;
}

.blog_updates__button {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 50px;
  margin: 0 auto 37px;
  background: linear-gradient(90deg, #67552a, #7a6228, #67552a);
  border-radius: 3px;
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  transition: all 300ms ease-in;
  &:hover {
    transform: scale(1.03);
    box-shadow: 0 0 5px rgba(#fff, 0.1);
  }
}

@import "./footer.scss";
@import "./adaptiv.scss";
